<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">MyApp</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>       <!--asp-controller : 클릭 시 Home컨트롤러를 사용하고 컨트롤러 안에있는 Index액션을 사용하겠다-->
                <li><a asp-controller="Home" asp-action="Student">Student</a></li>
            </ul>
        </div>            
    </nav>

    <div>
        <!--레이아웃 뷰에서 꼭 있어야 하는 body 만든 뷰를 보여주는곳.-->
        @RenderBody()
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <span class="navbar-text">
                My Footer
            </span>
        </div>
    </div>
</body>
</html>
