@model StudentTeacherViewModel
<!--타이틀은 여기서 설정-->
@{
    ViewBag.Title = "Home";
@*뷰 스타트 페이지에서 레이아웃 사용 *@
@*Layout = "../Shared/_Layout.cshtml"; *@
}
<div class="container">
    <div class="jumbotron">
        <h1>환영합니다.</h1>
        <p>asp.core를 배우고 있습니다.</p>
    </div>
</div>

@await Html.PartialAsync("_TeacherTable", Model)