@using ASP.NETCoreMVC_basic.Models
@model Student

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<h3>Add New Student</h3>
<form class="form form-horizontal" method="POST">
    <div class="form-group">
        <img src="http://webimage.10x10.co.kr/eventIMG/2018/86740/img_slide_3.jpg"/>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>name:</label>
            <input type="text" class="form-control" asp-for="Name"/>
            <span asp-validation-for="Name"></span><!--태그헬퍼 : 개발자도구에서 자동 생성된 태그의 속성값을 확인 가능-->
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Age:</label>
            <input type="text" class="form-control" asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>contry:</label>
            <input type="text" class="form-control" asp-for="Country" />
            <span asp-validation-for="Country"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>