<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<h3>Add New Student</h3>
<form class="form form-horizontal" method="POST">
    <div class="form-group">
        <img src="http://webimage.10x10.co.kr/eventIMG/2018/86740/img_slide_3.jpg"/>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>name:</label>
            <input type="text" class="form-control" name="name"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Age:</label>
            <input type="text" class="form-control" name="age"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>contry:</label>
            <input type="text" class="form-control" name="country" />
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>